<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/static/css/mystyle.css">
    </head>
    <body>
        <div role="banner" id="top">
            <div class="container">
                <a class="logo"></a>
                <b class="meta">Homepage for SIGMA group</b>
                <div role="navigation" class="nav-menu-on">
                    <ul>
                        <li>
                            <a href="/">Overview</a>
                        </li>
                        <li>
                            <a href="/">Download</a>
                        </li>
                        <li>
                            <a href="/">Documentation</a>
                        </li>
                        <li>
                            <a href="/">News</a>
                        </li>
                        <li>
                            <a href="/">Community</a>
                        </li>
                        <li>
                            <a href="/">Code</a>
                        </li>
                        <li>
                            <a href="/">About</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </body>
</html>
