[role="banner"] {
    background: #00BFFF;
    overflow: hidden;
    margin: 0;
    padding: 10px 0 6px;
    position: relative;
    z-index: 0;
}

[role="banner"] .container {
    position: relative;
    margin: 0 auto;
    max-width: 1400px;
    padding: 0 4.16667%;
}

[role="banner"] .logo {
    background: url("../images/sigma.png") center center no-repeat;
    margin-left: 0;
    font-size: 4rem;
    font-family: "Roboto", Corbel, Avenir, "Lucida Grande", "Lucida Sans", sans-serif;
    color: #FFF;
    display: block;
    float: left;
    font-weight: 700;
    margin: 10px;
    overflow: hidden;
    text-decoration: none;
    text-indent: 100%;
    width: 104px;
    height: 36px;
}


[role="banner"] .meta {
    float: left;
    width: 200px;
    display: block;
    font-size: 1.3rem;
    color: #87CEFA;
    font-weight: 700;
    margin: 8px 0 0 10px;
    font-family: "Roboto", Corbel, Avenir, "Lucida Grande", "Lucida Sans", sans-serif;
    line-height: 1.3;
}

[role="banner"] [role="navigation"] {
    width: auto;
    float: right;
    background: #00BFFF;
    max-height: none;
    transition: none;
    overflow: hidden;
}

[role="banner"] [role="navigation"] ul {
    margin: 0;
    padding: 0;
}

[role="banner"] [role="navigation"] li {
    margin: 0;
    border: 0;
    float: left;
    text-align: left;
    font-family: "Roboto", Corbel, Avenir, "Lucida Grande", "Lucida Sans", sans-serif;
    font-size: 13px;
    display: block;
    font-weight: 700;
    line-height: 16px;
    text-transform: uppercase;
}

[role="banner"] [role="navigation"] a {
    padding: 20px 10px;
    color: #fff;
    display: block;
    text-decoration: none;
}
